.feature {
    width: 9.75rem;
    height: 3.5rem;

    display: flex;

    &__icon {
        width: 2.56rem;
        height: 2.56rem;

        margin-right: 0.7rem;
    }

    &__summary {
        line-height: 1.125rem;
    }
}