.header {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 57.2rem;
    height: 2.5rem;

    &__item {
        margin-right: 3.125rem;

        &:last-child {
            margin-right: 0rem;
        }
    }
}