.header {
    justify-content: stretch;
    align-items: center;

    display: flex;
    height: 2.5rem;

    &__item {
        margin-right: 3.125rem;

        &:last-child {
            margin-right: 0rem;
        }
    }

    .address {
        flex-shrink: 0;
    }

    &::after {
        content: "";

        display: none;

        width: rem(26px);
        height: rem(24px);

        background-image: url("./../Images/sprite.svg#icon-gamburger");
    }

    @media (max-width: 768px) {
        justify-content: space-between;

        height: 5.7rem;
        padding: 0 2rem 0 2rem;
        box-sizing: border-box;

        &::after {
            display: initial;
        }
    }

    @media (max-width: 480px) {
        padding: 0 0.6rem 0 0.6rem;
    }
}