.hero {
    padding: 24px 80px 50px 80px;
    background-color: #f5f5f5;

    &__centered-content {
        flex-direction: column;
        justify-content: space-between;

        align-self: center;

        display: flex;

        height: 100%;
        max-width: 1100px;

        background: url("./../Images/beats_solo_3.png") right center no-repeat;
    }

    &__main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__product-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        text-transform: uppercase;

        width: 400px;
        margin-bottom: 22px;
    }

    &__product-description {
        font-family: $fontAlegreyaSans;
        font-size: 21px;
        line-height: 1.2em;

        width: 332px;
        margin-bottom: 36px;
    }
}