.menu {
    &__list {
        display: flex;
    }
    
    &__item {
        list-style-type: none;
        margin-right: 27px;
    
        &:last-child {
            margin-right: 0;
        }
    }
    
    &__item-link {
        text-decoration: none;
    }
}