.menu {
    &__list {
        display: flex;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    &__item {
        list-style-type: none;
        margin-right: 27px;
    
        &:last-child {
            margin-right: 0;
        }
    }
    
    &__item-link {
        font-family: $fontAlegreyaSans;
        font-size: 18px;
        line-height: 20px;
        color: $colorBlack;

        text-decoration: none;
    }
}