.reviewers {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;

    $pictureSize: rem(74px);

    @media (max-width: 480px) {
        $pictureSize: rem(65px);
    }

    &__picture {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: $pictureSize;
        height: $pictureSize;
    }

    &__item {
        width: $pictureSize;
        height: $pictureSize;

        margin-right: rem(6px);

        border-radius: 100px;
        overflow: hidden;
        position: relative;

        border: 0 solid $colorRed;

        &:last-child {
            margin-right: 0;
        }

        &--selected {
            border-width: 5px;
            box-sizing: border-box;
        }
    }
}