.why {
    justify-content: space-evenly;

    &__head-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 480px) {
            margin-bottom: rem(30px);
        }
    }

    &__the-question {
        font-weight: bold;
        font-size: 48px;
        line-height: 1.1em;

        color: $colorBlack;
        text-transform: uppercase;

        margin-bottom: rem(18px);

        text-align: center;

        @media (max-width: 480px) {
            font-size: 32px;
            margin-bottom: rem(11px);
        }
    }

    &__main-reason {
        font-size: 16px;
        line-height: 18.51px;
        text-align: center;
        color: $colorBody;

        padding: 0 5% 0 5%;
        max-width: rem(590px);

        margin-block-start: 0;
        margin-block-end: 0;
    }

    @media (max-width: 480px) {
        justify-content: center;
    }
}

.reasons {
    display: flex;
    justify-content: center;

    padding-inline-start: 0;

    &__item {
        position: relative;

        list-style-type: none;

        &::before {
            position: absolute;
            content: url("./../Images/combined_shape.png");

            top: rem(50px);
            right: rem(-30px);
        }

        &:last-child {
            &::before {
                display: none;
            }
        }

        @media (max-width: 768px) {
            &::before {
                display: none;
            }
        }

        @media (max-width: 480px) {
            margin-bottom: rem(35px);
            box-sizing: border-box;
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
    }
}