html {
    font-size: 16px;
}

body {
    font-family: $fontPlay;
}

section {
    height: 100vh;
    min-height: 40.75rem;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    &.order {
        display: none;
    }

    @media (max-width: 768px) {
        min-height: rem(1000px);
    }

    @media (max-width: 480px) {
        min-height: rem(800px);
    }
}

.big-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: bold;
    line-height: 1.125em;

    color: white;

    border-radius: 6.25rem;
    width: 10.2rem;
    height: 3.4rem;

    background-color: $bigBtnColor;

    &:hover {
        background-color: $bigBtnColorHover;
    }
}

.selectable {
    display: flex;

    &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:checked + .selectable__label > .selectable__pseudo {

            &--checkbox::after {
                content: "";

                background: no-repeat center url("./../Images/galka.png");
                width: 0.63rem;
                height: 0.5rem;
            }

            &--radio::after {
                content: "";

                background-color: $colorRed;
                width: 0.81rem;
                height: 0.81rem;
    
                border-radius: 100%;
            }
        }
    }

    &__label {
        color: white;
        display: flex;
    }

    &__pseudo {
        @mixin backgroundCommon($borderRadius) {
            display: flex;
            justify-content: center;
            align-items: center;

            content: "";

            background-color: white;
            width: 1.56rem;
            height: 1.56rem;
            border-radius: $borderRadius;

            margin-right: 0.7rem;
        }

        &--checkbox {
            @include backgroundCommon(0.25rem);
        }

        &--radio {
            @include backgroundCommon(100%);
        }
    }
}