body {
    font-family: $fontPlay;
}

section {
    height: 100vh;
    min-height: 652px;
}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
}

.page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
}

.big-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    color: white;

    border-radius: 100px;
    width: 163px;
    height: 54px;

    background-color: $bigBtnColor;

    &:hover {
        background-color: $bigBtnColorHover;
    }
}

.selectable {
    display: flex;

    &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:checked + .selectable__label > .selectable__pseudo {

            &--checkbox::after {
                content: "";

                background: no-repeat center url("./../Images/galka.png");
                width: 10px;
                height: 8px;
            }

            &--radio::after {
                content: "";

                background-color: $colorRed;
                width: 13px;
                height: 13px;
    
                border-radius: 100%;
            }
        }
    }

    &__label {
        color: white;
        display: flex;
    }

    &__pseudo {
        @mixin backgroundCommon($borderRadius) {
            display: flex;
            justify-content: center;
            align-items: center;

            content: "";

            background-color: white;
            width: 25px;
            height: 25px;
            border-radius: $borderRadius;

            margin-right: 11px;
        }

        &--checkbox {
            @include backgroundCommon(4px);
        }

        &--radio {
            @include backgroundCommon(100%);
        }
    }
}
