@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
.hero {
  display: flex;
  justify-content: center;
  padding: 24px 80px 50px 80px;
  min-height: 652px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.hero__main-content {
  width: 400px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 915px;
  height: 40px;
}
.header__item {
  margin-right: 50px;
}
.header__item:last-child {
  margin-right: 0px;
}

.product__title {
  font-family: "Play", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.product__description {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 21px;
  line-height: 1.2em;
  margin: auto 68px 54px auto;
}

.features {
  display: flex;
}
.features__item {
  margin-right: 10px;
}

.menu__list {
  display: flex;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.menu__item {
  list-style-type: none;
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item-link {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #292929;
  text-decoration: none;
}

.phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.phone__icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
.phone__number {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #292929;
}

.feature {
  width: 156px;
  height: 56px;
  display: flex;
}
.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}
.feature__summary {
  font-family: "Play", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
}

.big-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: white;
  border-radius: 100px;
  padding: 18px 41px 18px 41px;
  box-sizing: border-box;
  background-color: #e01f3d;
}
.big-btn:hover {
  background-color: #ca1b36;
}