@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
html {
  font-size: 16px;
}

body {
  font-family: "Play", sans-serif;
}

section {
  height: 100vh;
  min-height: 40.75rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  section {
    min-height: 62.5rem;
  }
}
@media (max-width: 480px) {
  section {
    min-height: 50rem;
  }
}

.big-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.125em;
  color: white;
  border-radius: 6.25rem;
  width: 10.2rem;
  height: 3.4rem;
  background-color: #e01f3d;
}
.big-btn:hover {
  background-color: #ca1b36;
}

.selectable {
  display: flex;
}
.selectable__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.selectable__input:checked + .selectable__label > .selectable__pseudo--checkbox::after {
  content: "";
  background: no-repeat center url("./../Images/galka.png");
  width: 0.63rem;
  height: 0.5rem;
}
.selectable__input:checked + .selectable__label > .selectable__pseudo--radio::after {
  content: "";
  background-color: #e01f3d;
  width: 0.81rem;
  height: 0.81rem;
  border-radius: 100%;
}
.selectable__label {
  color: white;
  display: flex;
}
.selectable__title {
  vertical-align: middle;
}
.selectable__pseudo--checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  background-color: white;
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 0.25rem;
  margin-right: 0.7rem;
}
.selectable__pseudo--radio {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  background-color: white;
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 100%;
  margin-right: 0.7rem;
}

.hero {
  align-items: center;
  background-color: #f5f5f5;
}
.hero__centered-content {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding: 1.5rem 1% 3.13rem 1%;
  height: 100%;
}
@media (max-width: 768px) {
  .hero__centered-content {
    padding: 0 0 10.8rem 0;
  }
}
@media (max-width: 480px) {
  .hero__centered-content {
    padding: 0 0 4.5rem 0;
  }
}
.hero__product-title {
  margin-top: 0;
  margin-bottom: 1.375rem;
  width: 25rem;
  font-size: 48px;
  line-height: 1.08em;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero__product-title {
    margin-bottom: 0.3125rem;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .hero__product-title {
    margin-bottom: 0.875rem;
    width: 80%;
    min-width: 20rem;
    font-size: 32px;
    line-height: 1.12em;
  }
}
.hero__product-description {
  margin-bottom: 2.25rem;
  width: 20.75rem;
  font-size: 21px;
  line-height: 1.2em;
  font-family: "Alegreya Sans", sans-serif;
}
@media (max-width: 768px) {
  .hero__product-description {
    margin-bottom: 1.4rem;
    width: auto;
    padding: 0 25% 0 25%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .hero__product-description {
    margin-bottom: 1.625rem;
    padding: 0 15% 0 15%;
    font-size: 18px;
    font-family: "Play", sans-serif;
  }
}
.hero__main-content {
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  display: flex;
  background: url("./../Images/beats_solo_3.png") right center/50% auto no-repeat;
}
@media (max-width: 768px) {
  .hero__main-content {
    align-items: center;
    background: unset;
  }
  .hero__main-content::before {
    content: "";
    margin-bottom: 4rem;
    width: 90%;
    height: 20.1875rem;
    background: url("./../Images/beats_solo_3.png") center center/contain no-repeat;
  }
  .hero .menu,
.hero .address,
.hero .features {
    display: none;
  }
}
@media (max-width: 480px) {
  .hero__main-content::before {
    margin-bottom: 3.0625rem;
  }
}

.menu__list {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.menu__item {
  margin-right: 1.7rem;
  list-style-type: none;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item-link {
  font-size: 18px;
  line-height: 1.11em;
  font-family: "Alegreya Sans", sans-serif;
  color: #292929;
  text-decoration: none;
}

.phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.phone__icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}
.phone__number {
  font-style: normal;
  font-size: 18px;
  color: #292929;
}

.feature {
  width: 9.75rem;
  height: 3.5rem;
  display: flex;
}
.feature__icon {
  width: 2.56rem;
  height: 2.56rem;
  margin-right: 0.7rem;
}
.feature__summary {
  line-height: 1.125rem;
}

.features {
  display: flex;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.features__item {
  margin-right: 0.625rem;
}

.header {
  justify-content: stretch;
  align-items: center;
  display: flex;
  height: 2.5rem;
}
.header__item {
  margin-right: 3.125rem;
}
.header__item:last-child {
  margin-right: 0rem;
}
.header .address {
  flex-shrink: 0;
}
.header::after {
  content: "";
  display: none;
  width: 1.625rem;
  height: 1.5rem;
  background-image: url("./../Images/hamburger.png");
}
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    height: 5.7rem;
    padding: 0 2rem 0 2rem;
    box-sizing: border-box;
  }
  .header::after {
    display: initial;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0 0.6rem 0 0.6rem;
  }
}

.why {
  justify-content: space-evenly;
}
.why__head-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .why__head-content {
    margin-bottom: 1.875rem;
  }
}
.why__the-question {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1em;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1.125rem;
  text-align: center;
}
@media (max-width: 480px) {
  .why__the-question {
    font-size: 32px;
    margin-bottom: 0.6875rem;
  }
}
.why__main-reason {
  font-size: 16px;
  line-height: 1.1em;
  text-align: center;
  color: #666666;
  padding: 0 5% 0 5%;
  max-width: 36.875rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media (max-width: 480px) {
  .why {
    justify-content: center;
  }
}

.reasons {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}
.reasons__item {
  position: relative;
  list-style-type: none;
}
.reasons__item::before {
  position: absolute;
  content: url("./../Images/combined_shape.png");
  top: 3.125rem;
  right: -1.875rem;
}
.reasons__item:last-child::before {
  display: none;
}
@media (max-width: 768px) {
  .reasons__item::before {
    display: none;
  }
}
@media (max-width: 480px) {
  .reasons__item {
    margin-bottom: 2.1875rem;
    box-sizing: border-box;
  }
}
@media (max-width: 480px) {
  .reasons {
    flex-direction: column;
  }
}

.reason {
  flex-direction: column;
  align-items: center;
  flex: 0 1 17.25rem;
  display: flex;
  padding: 0 2% 0 2%;
}
.reason__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.5rem;
  background-color: #f2f5f4;
  border-radius: 200px;
  border: 1px hidden black;
}
@media (max-width: 480px) {
  .reason__icon-container {
    width: auto;
    height: auto;
    padding: 7% 0 7% 0;
    min-width: 28%;
    margin-bottom: 0;
  }
}
.reason__icon {
  width: 50%;
  height: 50%;
}
.reason__title {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 1.1em;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 480px) {
  .reason__title {
    text-align: start;
    margin-bottom: 0.375rem;
  }
}
.reason__description {
  text-align: center;
}
@media (max-width: 480px) {
  .reason__description {
    text-align: start;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #666666;
  }
}
@media (max-width: 480px) {
  .reason {
    flex-direction: row;
    flex-basis: 0;
    padding: 0 1% 0 1%;
  }
  .reason__text-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.reviews {
  align-items: center;
  justify-content: center;
}
.reviews__head-content {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1em;
  text-transform: uppercase;
  z-index: 10;
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .reviews__head-content {
    font-size: 32px;
    margin-bottom: 1.625rem;
  }
}

.review {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 58.75rem;
  height: 21.75rem;
  margin-bottom: 0.9375rem;
  background-color: #f8faf9;
  padding: 2.625rem;
  box-sizing: border-box;
}
.review__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 31.25rem;
  margin-left: 2.625rem;
}
@media (max-width: 768px) {
  .review__content {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
.review__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1em;
}
.review__text {
  font-size: 16px;
  line-height: 1.1em;
}
@media (max-width: 768px) {
  .review__text {
    margin: 1rem 0 1rem 0;
  }
}
.review__reviewer {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1em;
}
.review__decorative-half-circle {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -70%);
  width: 5.1875rem;
  height: 5.1875rem;
  background-color: white;
  border-radius: 100px;
}
@media (max-width: 768px) {
  .review {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3.5rem;
  }
  .review__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 1.5625rem;
  }
}

.reviewers {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
}
.reviewers__picture {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4.0625rem;
  height: 4.0625rem;
}
.reviewers__item {
  width: 4.0625rem;
  height: 4.0625rem;
  margin-right: 0.375rem;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  border: 0 solid #e01f3d;
}
.reviewers__item:last-child {
  margin-right: 0;
}
.reviewers__item--selected {
  border-width: 5px;
  box-sizing: border-box;
}

.order {
  justify-content: center;
  background-color: #222222;
  align-items: center;
}
.order__head-content {
  text-align: center;
  margin-bottom: 3.625rem;
  font-size: 48px;
  line-height: 1.1em;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 768px) {
  .order__head-content {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .order__head-content {
    font-size: 32px;
    margin-bottom: 1.9375rem;
  }
}
.order__customer {
  display: flex;
  flex-direction: column;
  margin-right: 1.6875rem;
  flex: 0 1 28.75rem;
}
@media (max-width: 768px) {
  .order__customer {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.order__identity {
  display: flex;
  justify-content: stretch;
  margin-bottom: 0.6875rem;
}
.order__identity .customer-field {
  flex: 1 1 6.9375rem;
  margin-right: 1rem;
}
.order__identity .customer-field:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .order__identity {
    margin-bottom: 1.125rem;
  }
}
.order__street.customer-field {
  margin-bottom: 0.6875rem;
}
@media (max-width: 768px) {
  .order__street.customer-field {
    margin-bottom: 0.9375rem;
  }
}
.order__placement {
  display: flex;
  justify-content: stretch;
}
.order__placement .customer-field {
  flex: 1 1 6.5625rem;
  margin-right: 0.75rem;
}
.order__placement .customer-field:last-child {
  margin-right: 0;
}
.order__summary {
  display: flex;
  flex-direction: column;
  flex: 0 1 28.125rem;
}
.order__comment.customer-field {
  margin-bottom: 2.375rem;
}
.order__comment.customer-field .customer-field__input {
  padding-top: 0.75rem;
  height: 9.5rem;
}
@media (max-width: 768px) {
  .order__comment.customer-field .customer-field__input {
    height: 5.125rem;
  }
}
@media (max-width: 768px) {
  .order__comment.customer-field {
    margin-bottom: 1.5rem;
  }
}
.order__payment-type {
  display: flex;
  margin-bottom: 1.1875rem;
}
.order__payment-type .selectable {
  margin-right: 1rem;
}
.order__payment-type .selectable:last-child {
  margin-right: 0;
}
@media (max-width: 480px) {
  .order__payment-type .selectable {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .order__payment-type {
    justify-content: center;
  }
}
.order__additional {
  display: flex;
  margin-bottom: 2.875rem;
}
@media (max-width: 768px) {
  .order__additional {
    margin-bottom: 2.625rem;
  }
}
@media (max-width: 480px) {
  .order__additional {
    justify-content: center;
  }
}
.order__buttons {
  display: flex;
  align-items: center;
}
.order__buttons .big-btn {
  margin-right: 0.9375rem;
}
@media (max-width: 768px) {
  .order__buttons {
    justify-content: center;
  }
}
.order__button-cancel {
  color: white;
}
@media (max-width: 480px) {
  .order__button-cancel {
    color: #e01f3d;
  }
}

.columns {
  display: flex;
  justify-content: center;
  max-width: 60rem;
  margin: 2%;
}
@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    max-width: 29.125rem;
  }
}

.customer-field {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
}
.customer-field__label {
  color: white;
  margin-bottom: 0.3125rem;
}
.customer-field__input {
  height: 3.625rem;
  outline: none;
  font-size: 14px;
  line-height: 1.2em;
  padding-left: 0.75rem;
  box-sizing: border-box;
  border-radius: 4px;
  border-style: hidden;
  width: 100%;
}
.customer-field__input:focus {
  border: 3px solid #e01f3d;
}
@media (max-width: 768px) {
  .customer-field__input {
    height: 2.25rem;
  }
}